examples/*/data
tests/test_project
venv
purgatory*
wip_*

_version.py

.smt

*.ipynb
*.nb.html
.pytest_cache
.mypy_cache
*.taskdesc
*.egg-info
__pycache__
build

_build
_static
_templates
_autosummary
