#--index-url https://pypi.python.org/simple/

numpy>=1.17
#sumatra>=0.8dev0
click
GitPython
pydantic
pytest

# Visualization dependencies
networkx
holoviews
bokeh

ipykernel

# Imported by the mackelab_toolbox
scipy
matplotlib
seaborn
tqdm
pandas
blosc

#-e git+https://git@github.com/alcrene/parameters#egg=parameters
#-e git+https://git@github.com/alcrene/sumatra#egg=sumatra
