#--index-url https://pypi.python.org/simple/

numpy>=1.17
#sumatra>=0.8dev0
click
GitPython
pydantic
# pytest

# Visualization dependencies
networkx
holoviews
bokeh

# ipykernel

# Imported by the mackelab_toolbox
scipy
matplotlib
seaborn
tqdm
pandas
blosc

# Extra for RTD
myst-parser

mackelab-toolbox[iotools,typing,utils,parameters] @ git+https://git@github.com/mackelab/mackelab-toolbox
parameters @ git+https://git@github.com/alcrene/parameters
sumatra @ git+https://git@github.com/alcrene/sumatra
smttask @ git+https://git@github.com/alcrene/smttask
